/*@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);*/
@keyframes fade-in-left {
   from{opacity:0; left:-100px;}
  to{opacity:1; left:0px;}
}


div.jumbotron{
  animation-name: fade-in-left;
  animation-duration: 2s;
  background-color:#ebdfe7;
}

*{
box-sizing: border-box;
}

.progress{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.language_bar{
	height:24px;
	color: #fff;							
	background-color: purple;
	border-radius: 16px;
}
footer{
	margin-block-start: 1em;
    margin-block-end: 1em;
	text-align: center;
	background-color: #ebdfe7;
}

li.breadcrumb-item{
	margin-block-start: 1em;
    margin-block-end: 1em;
	text-align: center;
	background-color: #ebdfe7;
}
ol.breadcrumb{
	margin-block-start: 1em;
    margin-block-end: 1em;
	text-align: center;
	background-color: #ebdfe7;
}

nav.breadcrumb-item{
	margin-block-start: 1em;
    margin-block-end: 1em;
	text-align: center;
	background-color: #ebdfe7;
}


div.progress-bar{
	background-color:#d0bdf4;
}

.fa_banner{
	color:#ffa8b6;
}


/* Left column */
.left-col {
  width: 25%;
  border:none;
  text-overflow: ellipsis;
	overflow: hidden;
	padding: 20px;
	margin:25px;
	box-shadow:10px 10px 10px grey;
}
/* Middle column */
.middle-col {
  border: 1px dotted magenta;
  width: 40%;
  margin-right:10px;
  padding:10px;
  text-overflow: ellipsis;
  overflow: hidden;
 
}

/* Right column */
.right-col {
  border: 1px dotted magenta;
  width: 35%;
  padding:10px;
  text-overflow: ellipsis;
  overflow: hidden;
  
}

@media only screen and (min-width: 500px) {
  .middle-col{
    width: 35%;
  }
  .right-col{
    width: 30%;
  }
}



[class*="-col"] {
  float: left;
  
}



@media only screen and (max-width: 800px) {
	/*For Tablets*/
  
   .left-col{
    width: 80%;
  }
  .middle-col{
    width: 80%;
  }
  
  .right-col{
    width: 80%;
  }
  .info-responsive{
	width: 80%;
  }
 .media-responsive{
	 width:80%;
  }
}
@media only screen and (max-width: 500px) {
	/*For phones*/
  
   .left-col{
    width: 100%;
  }
  
  .middle-col{
    width: 100%;
  }
  .right-col{
    width: 100%;
  }
  .info-responsive{
	  width: 100%;
  }
.media-responsive{
	 width:100%;
  }
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col3 {
  float: left;
  width: 50%;
}
.col4 {
  float: left;
  width: 50%;
}


a:link {
color: magenta;
}
a:visited {
color: pink;
}
a:hover {
color:purple;
text-decoration: none;
}
body {
  font-family: Times-New-Roman;
  padding: 20px;
  background color: #f1f1f1;
}
div h5,
div img {
    
    vertical-align: middle;
}​
